/* AppComponent's private CSS styles */
h1 {
  margin-bottom: 0;
  margin-left:  10px;
  padding-top: 30px;
}
nav a {
  margin-left:  20px;
  padding: 1rem;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: #e8e8e8;
  color: #3d3d3d;
  border-radius: 4px;
}

nav a.btn2{
    margin-left: 10px;
    
}

nav a.btnGrupos{
  background-color: rgb(255, 97, 5);
}

nav a:hover {
  color: white;
  background-color: #42545C;
}
nav a.active {
  background-color: black;
}

.header{
  background-color: rgb(247, 243, 9);
  height: 200px;
  border-radius: 4px;
  opacity: 80%;
}